<header class="site-header">
  <i id="ltoggle" class="latte__toggle fa fa-bars fa-3x"></i>
  <nav class="grid">

      <div class="grid__col--4">
            <a href="{{site.baseurl}}/">
              <img class="logo" src="{{site.baseurl}}/img/logo.png"/>
            </a>
      </div>

      <div class="grid__col--8">
        <nav class="nav-collapse">
          <ul class="nav">
            <li class="nav--item"><a href="#about">About</a></li>
            <li class="nav--item"><a href="#instagram">Instagram</a></li>
            <li class="nav--item"><a href="#location">Location</a></li>
            <li class="nav--item"><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>

  </nav>

</header>
